/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jan 2020, 17:23:54
    Author     : razan
*/


#indexcontainer{
background-color: #F8F9FA;
}

#aside{
   
}

#aside a{
 
}


#main{
   
}

/*

img {
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

*/

